In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
plt.style.use('seaborn-colorblind')

In [4]:
movies_data = pd.read_csv('movies.csv')
movies_data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
ratings_data = pd.read_csv('ratings.csv')
ratings_data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [12]:
avg_rate = ratings_data.groupby(['movieId']).mean()
avg_rate = avg_rate.drop(['userId', 'timestamp'], axis = 1)
avg_rate = avg_rate.rename(columns = {"rating" : "avg_rating"})
avg_rate.head()

         avg_rating
movieId
1          3.872470
2          3.401869
3          3.161017
4          2.384615
5          3.267857

In [18]:
vote_count = ratings_data.groupby(['movieId']).count()
vote_count = vote_count.drop(['userId', 'timestamp'], axis = 1)
vote_count = vote_count.rename(columns = {"rating" : "No.of.Votes"})
vote_count.head()

         No.of.Votes
movieId
1                247
2                107
3                 59
4                 13
5                 56

In [34]:
movies_data.merge(vote_count, how = 'outer')

TypeError: object of type 'NoneType' has no len()

In [29]:
movies_data['VoteCount'] = pd.Series(vote_count['No.of.Votes'], index = movies_data.index)
movies_data['avg_rating'] = pd.Series(avg_rate['avg_rating'], index = movies_data.index)
movies_data.head()

,movieId,title,genres,VoteCount,avg_rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,NaN,NaN
1,2,Jumanji (1995),Adventure|Children|Fantasy,247.0,3.872470
2,3,Grumpier Old Men (1995),Comedy|Romance,107.0,3.401869
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,59.0,3.161017
4,5,Father of the Bride Part II (1995),Comedy,13.0,2.384615